* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    background-color: #f0f0f0;
  }

 .page-wrapper {
    min-width: 490px;
    max-width: 1024px;
    margin: 15px auto;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 0 35px 5px #bbbbbb;
  }

 .page-header {
    display: flex; 
    align-items: stretch;
    padding: 5px;
}

.page-header__avatar{
    min-width: 120px;
    max-width: 240px;
    border-radius: 50%;
}

.page-header__text{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #bbbbbb;
}

.page-main__table {
    width: 100%;
  }

.page-main__section {
    margin-top: 25px;
  }

  .table {
    border-collapse: collapse;
  }

  .table__row {
  height: 25px;
  border-bottom: 5px solid #000000;
}

.table__body .table__row {
    background-color: #f3f3f3;
  }